/* STYLE */


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: #212121;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.d_none {
    display: none;
}


h1 {
    font-size: 56px;
    margin: 0px;
    margin-bottom: 32px;
    color: #efefef;
}


h2 {
    color: #efefef;
    margin: 0px;
}


p {
    font-size: 24px;
    color: #efefef;
}


.headline {
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-wrapper {
    display: flex;
    align-items: center;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}


.cell {
    width: 150px;
    height: 150px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    cursor: pointer;
}


.cell:nth-child(1) {
    /* Oben links */
    border-right: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}


.cell:nth-child(2) {
    /* Oben Mitte */
    border-left: 4px solid #efefef;
    border-right: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}


.cell:nth-child(3) {
    /* Oben rechts */
    border-left: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}


.cell:nth-child(4) {
    /* Mitte links */
    border-top: 4px solid #efefef;
    border-right: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}


.cell:nth-child(5) {
    /* Mitte Mitte */
    border: 4px solid #efefef;
}


.cell:nth-child(6) {
    /* Mitte rechts */
    border-top: 4px solid #efefef;
    border-left: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}


.cell:nth-child(7) {
    /* Unten links */
    border-top: 4px solid #efefef;
    border-right: 4px solid #efefef;
}


.cell:nth-child(8) {
    /* Unten Mitte */
    border-left: 4px solid #efefef;
    border-top: 4px solid #efefef;
    border-right: 4px solid #efefef;
}


.cell:nth-child(9) {
    /* Unten rechts */
    border-left: 4px solid #efefef;
    border-top: 4px solid #efefef;
}


#status {
    margin-top: 20px;
    font-size: 1.5rem;
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}


.reset-btn {
    display: flex;
    justify-content: center;
}


.player-x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    /* gleiche Breite wie SVG */
    height: 80px;
    /* gleiche Höhe wie SVG */
    margin-right: 96px;
}


.player-o {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    /* gleiche Breite wie SVG */
    height: 80px;
    /* gleiche Höhe wie SVG */
    margin-left: 96px;
}


.players-turn-status {
    display: flex;
    justify-content: center;
}


@media(max-width:830px) {
    .player-o {
        display: none;
    }

    .player-x {
        display: none;
    }
}


@media(max-width:480px) {
    .game-board{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

    .cell{
        width: 100px;
        height: 100px;
    }
  
} 